<h1> New About Page</h1>
<p>The thing about this page is, it's an about page.</p>
<%= link_to image_tag('alphasymbol.png'), 'www.fifrombehind.com' %>
<%= link_to 'Home', root_path %>wget -O- https://toolbelt.heroku.com/install-ubuntu.sh | sh