<h1>New home page</h1>
<p>More like Home BEIGE.</p>
<%= image_tag 'alphasymbol.png' %>
<%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About', about_path %>

<p>This this page is:</p>
<ul>
    <li>a home page</li>
    <li>containing a photo</li>
    <li>on the internet</li>
</ul>