<div class="container">
    <footer class="footer"
    <small>
        
        Copyright &copy; alpha blog
        
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Articles", articles_path %></li>
        </ul>
    </nav>
</div>